<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" />
      </div>
      <div>
        <button class="btn btn-info" style="margin-right: 2px">Signup</button>
        <button class="btn btn-warning">Switch to Login!</button>
      </div>
    </form>
  </div>
</div>
